img {
  width: 1.5rem;
  color: white;
}

p {
  font-size: 0.75rem;
  font-weight: bold;
  color: #57585a;
}

.as-navbar-component {
  display: none;
}

@media screen and (min-width: 994px) {
  .as-navbar-component {
    display: block;
  }
}
