* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

#root {
  min-height: 100vh;
}

@media screen and (min-width: 994px) {
  main {
    margin-left: 18vw;
    height: 100%;
  }
}
