* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  margin: auto;
}

*:focus {
  outline: none;
}

@media screen and (min-width: 1200px) {
  #root {
    width: 85%;
  }
}
