@import url('https://fonts.googleapis.com/css2?family=Ranga&display=swap');

$font-ranga: 'Ranga', cursive;

button {
  all: initial;
}

.collapse-btn {
  position: sticky;
  height: 3rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  span {
    color: white;
    font-size: 3rem;
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

nav {
  background-color: white;
  transition: height 1.5s ease;

  h1 {
    display: none;
  }

  ul {
    list-style: none;
    height: 100%;
    width: 70%;
    margin: auto;
  }

  li {
    color: #97bf10;
    font-size: 1.5rem;
    padding: 0.5rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .collapse-btn {
    display: none;
  }

  nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    width: 18vw;
    background-color: white;
    padding: 3rem 0 1.5rem 0;

    h1 {
      display: block;
      font-family: $font-ranga;
      color: #57585a;
      font-size: 3rem;
      transform: rotate(-10deg);
      text-decoration: underline;
    }

    ul {
      height: 60%;
      margin-bottom: 10rem;
    }

    li {
      color: #57585a;
      padding: 0.3rem 0;
    }
  }
}
